body {
  background-color: #989898;
}

#pause {
  text-align: center;
  font-size: 100px;
  visibility: hidden;
  background-color: red;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board {
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  background-color: #484848;
  width: 216px;
  height: 440px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.ruta {
  background-color: #0c0d0e;
  width: 20px;
  height: 20px;
  border: 1px solid #484848;
  border-radius: 3px;
}

.nextPieces {
  grid-column: 3;
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  width: 88px;
  height: calc(88px*3 - 70px);
  align-items: center;
  justify-content: center;
  background-color: #484848;
}

.nextPieceSquare {
  /* background-color: #484848; */
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #484848;
}